@import './base.scss';

main {
   display: flex;
   justify-content: center;
   align-items: center;
}
.errorPage__container {
   width: 86vw;
   display: flex;
   gap: 15vh;
   flex-direction: column;
   align-items: center;
   margin-top: 14vh;
   margin-bottom: 14vh;
}
.errorPage__container__img404 {
   display: flex;
   justify-content: center;
}
.errorPage__container__img404 img {
   max-width: 100%;
   height: auto;
}
.errorPage__container__text {
   color: $color-primary;
   text-align: center;
}
.errorPage__container__text h2 {
   font-size: 36px;
   font-weight: 500;
}
.errorPage__container__link__h4 {
   color: $color-primary;
}
.errorPage__container__link__h4 h4 {
   font-size: 18px;
   font-weight: 500;
}
a {
   text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 1020px) {
   .errorPage__container__img404 img {
      height: 99px;
      width: 198px;
   }
   .errorPage__container__text h2 {
      font-size: 18px;
      font-weight: 500;
   }
   .errorPage__container__link h4 {
      font-size: 14px;
      font-weight: 500;
   }
   .line-break {
      display: block;
      content: '';
      clear: both;
   }
}
