@import './base.scss';

nav {
   color: $color-primary;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 86.111vw;
   height: 80px;
   position: relative;
   top: 0;
   left: 0;
   right: 0;
   margin: auto;
   margin-bottom: 2%;
}

.nav__ul {
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   width: 24.919vw;
   font-size: 1.5em;
}
.nav__ul__acceuil {
   color: $color-primary;
   text-decoration: none;
}
.nav__ul__about {
   color: $color-primary;
   text-decoration: none;
}
.nav__ul a {
   text-decoration: none;
   color: inherit;
}

.selected {
   border-bottom: 1px $color-primary solid;
}

@media screen and (min-width: 320px) and (max-width: 1020px) {
   nav {
      width: 89%;
      margin-bottom: 10px;
   }
   nav img {
      width: 145px;
      height: 46.88px;
   }
   .nav__ul {
      align-items: center;
      width: 100%;
      font-size: 12px;
      justify-content: flex-end;
      gap: 10%;
      padding-left: 0;
   }
}
