.homeTxt {
   display: flex;
   color: red;
   width: 86%;
   height: 20%;
   position: relative;
}
.home__gallery-grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   background-color: purple;
}
.home__gallery-grid__img {
   width: 100%;
}
