@import './base.scss';

.home__banner {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-bottom: 2%;
}
.home__banner__img {
   width: 86vw;
   position: relative;
}
.home__banner img {
   object-fit: cover;
   height: 100%;
   width: 100%;
}
.home__banner__text__container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   width: 100%;
}
.home__banner__text__container__h2 {
   color: $color-secondary;
   font-size: 1.125em;
   width: 100%;
}
.home__banner__text__container__h2 {
   font-weight: 500;
   font-size: 48px;
}

.home {
   display: grid;
   justify-items: center;
   margin-bottom: 4%;
}
.home__gallery {
   width: 86vw;
}

.home__gallery-grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, 23.611vw);
   grid-auto-rows: 23.611vw;
   grid-gap: 3vw;
   background-color: $color-collapse-txt-background;
   border-radius: 25px;
   justify-content: center;
   padding-top: 4vw;
   padding-bottom: 4vw;
}
.home__gallery-grid__img {
   width: 100%;
}

figure {
   color: $color-secondary;
   border-radius: 5px;
   position: relative;
   height: 100%;
   width: 100%;
   margin: 0;
}
figure img {
   border-radius: 5px;
   object-fit: cover;
   height: 100%;
   width: 100%;
}
figcaption {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 10px;
   background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
   color: #fff;
   border-radius: 0 0 5px 5px;
   display: flex;
   justify-content: left;
   align-items: center;
   font-size: 18px;
}

@media screen and (min-width: 320px) and (max-width: 1020px) {
   .home__banner {
      margin-bottom: 10px;
   }
   .home__banner__img {
      width: 89%;
      height: 111px;
   }
   .home__banner img {
      border-radius: 10px;
   }
   .home__banner__text__container {
      text-align: left;
      left: 55%;
   }
   .home__banner__text__container__h2 {
      font-size: 24px;
      width: 76%;
   }
}
